[Desktop Entry]
Comment=
Comment[de]=
Encoding=UTF-8
Exec=$BINDIR/SimuVis.py
GenericName=SimuVis4
GenericName[de]=SimuVis4
Icon=$DATADIR/Pictures/Icon32.png
MimeType=
Name=SimuVis4
Name[de]=SimuVis4
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
